@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-quicksand);
  --font-mono: var(--font-quicksand); /* Fallback to Quicksand for mono styles */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-quicksand),
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
}
